# Ignore node_modules in both client and server directories
client/node_modules/
server/node_modules/

# Optional: Ignore other common files and directories

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories (if any)
client/build/
server/build/

# Ignore any system-specific files
.DS_Store  # macOS-specific
Thumbs.db  # Windows-specific
